.nasted{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.pad{
    padding: 0.3rem;
}
/***PUMPKIN***/
.eye{
    background-color: yellow;
}
.up{
    background-color: rgb(51, 87, 32);
}
.pumpk{
    background-color: rgb(230, 139, 3);
}
.cont{
    max-width: 800px;
    margin: 0 auto;
}
/***BLOODY SUNS***/
.contain{
    max-width: 800px;
    margin: 0 auto;
}

.f{
    background-color: rgb(255 ,23 ,68);
}
.f1{
    background-color: rgb(245, 23, 65);
}
.g{
    background-color: rgb(235, 23, 65);
}
.g1{
    background-color: rgb(225, 23, 65);
}
.h{
    background-color: rgb(215, 23, 61);
}
.h1{
    background-color: rgb(205, 23, 65);
}
.j{
    background-color: rgb(195, 23, 63);
}
.j1{
    background-color: rgb(190, 23, 64);
}
.k{
    background-color: rgb(185, 23, 64);
}
.k1{
    background-color: rgb(175, 23, 64);
}
.k2{
    background-color: rgb(170, 23, 64);
}
.l{
    background-color: rgb(165, 23, 63);
}
.l1{
    background-color: rgb(155, 23, 64);
}
.l2{
    background-color: rgb(145, 23, 64);
}
.z{
    background-color: rgb(135, 23, 62);
}
.z1{
    background-color: rgb(125, 23, 64);
}
.z2{
    background-color: rgb(115, 23, 64);
}
.x{
    background-color: rgb(105, 23, 61);
}
.c{
    background-color: rgb(95, 23, 61);
}
.c1{
    background-color: rgb(85, 23, 64);
}
.c2{
    background-color: rgb(75, 23, 64);
}
.c3{
    background-color: rgb(65, 23, 64);
}
.t{
    background-color: rgb(60, 23, 64);
}
.t1{
    background-color: rgb(55, 23, 64);
}
.y{
    background-color: rgb(50, 23, 64);
}
.y1{
    background-color: rgb(45, 23, 64);
}
.u{
    background-color: rgb(40, 23, 64);
}
.u1{
    background-color: rgb(35, 23, 64);
}
/***SUN***/
.a{
    background-color: rgb(115, 23, 61);
}
.a1{
    background-color: rgb(110, 23, 61);
}
.s{
    background-color: rgb(105, 23, 61);
}
.s1{
    background-color: rgb(110, 23, 61);
}
.d{
    background-color: rgb(95, 23, 61);
}
.d1{
    background-color: rgb(90, 23, 61);
}
.v{
    background-color: rgb(85, 23, 61);
}
.v1{
    background-color: rgb(80, 23, 61)
}
.b{
    background-color: rgb(75, 23, 61);
}
.b1{
    background-color: rgb(70, 23, 61);
}
.n{
    background-color:rgb(65, 23, 61) ;
}
.n1{
    background-color: rgb(60, 23, 61);
}
.m{
    background-color: rgb(55, 23, 61);
}
.m1{
    background-color: rgb(50, 23, 61);
}
.q{
    background-color: rgb(45, 23, 61);
}
.q1{
    background-color: rgb(40, 23, 61);
}
.e{
    background-color: rgb(35, 23, 61);
}
.e1{
    background-color: rgb(30, 23, 61);
}
.r{
    background-color: rgb(25, 23, 61);
}
.r1{
    background-color: rgb(20, 23, 61);
}